.sectionHeading {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 0px;
    font-size: 3rem;
}

.skillHeading {
    font-weight: normal;
    font-size: 1.2rem;
}


/* Navbar */
.nav-link {
    color: white;
}


/* Hero Section */
.hero {
    height: 60vh;
}

.hero-content {
    width: 70%;
    margin-top: 25vh;
}

/* Work Section */
.work {
    padding: 10px;
}

.work .row {
    justify-content: center;
    margin-block: 100px;
}

/* Skills Content */
.skillsCard {
    margin-block: 20px;
}

.skillsCard {
    height: 150px;
}

.skillsCard.html5 {
    background: url("../images/html5.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.skillsCard.css3 {
    background: url("../images/css-3-svgrepo-com.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.skillsCard.javaScript {
    background: url("../images/js-svgrepo-com.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.skillsCard.react {
    background: url("../images/react.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}