.sectionHeading {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 0px;
    font-size: 3rem;
}

.skillHeading {
    font-weight: normal;
    font-size: 1.2rem;
}

.nav-link {
    color: black;
}


/* Hero Section */
.hero {
    height: 60vh;
}

.hero-content {
    width: 70%;
    margin-top: 25vh;
}

/* Work Section */
.work {
    padding: 10px;
}

.work .row {
    justify-content: center;
    margin-block: 100px;
}

/* Skills Content */
.skillsCard {
    margin-block: 20px;
}

.skillsCard svg {
    margin-bottom: 10px;
}